/*Body*/

body{
	background-color: black;
	display: flex;
	flex-direction: column;
}

.content{
	margin: 2%;
	flex: 1 0 auto;
	margin-bottom: 130px;
}


/*Main-header*/

#main-header{
	display: flex;
	flex-direction: row;
	margin-bottom: 35px;
}

/*Logo*/

#logo{
	display: flex;
	margin-right: 5%;
}

#logo img{
	height: 4rem;
	width: 4rem;
}

#logo h2{
	margin: 0;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

#logo h2 #ninja{
	font-weight: 400;
}

#main-header ul li a{
	color: white;
	text-decoration: none;
	font-family: Arial;
}

#main-header ul li a:hover{
	color: lightgrey;
}

.adjust{
	width: 40%;
}

@media screen and (max-width: 572px){
	#main-header ul{
		display: none;
	}
}


/*Search*/

#search-bar{
	width: 25rem;
	display: flex;
	margin-right: 2%;
}

#search-bar i{
	background-color: #000033;
	color: white;
	padding: 13px;
	height: 15px;
	width: 5%;
}

.search-icon{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#search-bar input{
	width: 90%;
	height: 15px;
	background-color: #000033;
	padding: 13px;
	outline: none;
	border: none;
}

#search-bar input[type=text]{
	color: white;
	font-size: 14px;
	font-family: sans-serif;
}

.microphone-icon{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

/*Notification*/

#notification-icon-container{
	margin-right: 2%;
}

#notification{
	color: white;
	background-color: transparent;
	border: none;
	font-size: 22px;
	padding: 10px;
	outline: none;
}

#notification:hover{
	color: lightgrey;
	cursor: pointer;
}

/*Profile*/

#profile button{
	border: none;
	height: 3rem;
	width: 3.5rem;
	background-color: transparent;
	border-radius: 50%;
	outline: none;
}

#profile img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	outline: none;
}

#profile img:hover{
	cursor: pointer;
}


/*Main*/

main{
	width: 75%;
	display: inline-block;
}

#content-header{
	display: flex;
	position: relative;
	margin-bottom: 45px;
}

.banner-container{
	height: 15rem;
	width: 28rem;
	margin-right: 20px;
}

#content-header img{
	height: 100%;
	width: 100%;
	float: left;
}


#content-header img:hover{
	transition: 0.8s ease;
	transform: scale(1.2);
	cursor: pointer;
}


/*Article*/

/*Trending*/

h3{
	color: white;
	font-family: sans-serif;
}

#trending-song-container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

#trending-song-container div{
	margin-right: 60px;
	margin-bottom: 30px;
	height: 7rem;
	width: 7rem;
}

#trending-song-container div img{
	height: 100%;
	width: 100%;
}

#trending-song-container div img:hover{
	opacity: 70%;
	cursor: pointer;
}

/*Artists*/

#artist-container{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4rem;
}

#artist-container div{
	margin-right: 4rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
}

#artist-container img{
	height: 6rem; 
	width: 6rem;
	border-radius: 50%;
	margin-bottom: 2rem;
}

#artist-container img:hover{
	cursor: pointer;
	opacity: 70%;
}

#artist-container div span{
	color: white;
	font-family: sans-serif;
	text-align: center;
}

/*Song Types*/

#song-type{
	display: flex;
	flex-wrap: wrap;
}

#song-type div{
	height: 10rem;
	width: 20rem;
	margin-right: 2.5rem;
	margin-bottom: 5rem;
}

#song-type div img{
	height: 100%;
	width: 100%;
}

#song-type div img:hover{
	opacity: 70%;
	cursor: pointer;
}

/*Popular English And Hindi*/

.popular-language-container{
	display: flex;
	flex-wrap: wrap;
}

.popular-language-container div{
	height: 7rem;
	width: 7rem;
	margin-right: 3rem;
	margin-bottom: 2rem;
}

.popular-language-container div img{
	height: 100%;
	width: 100%;
}

.popular-language-container div img:hover{
	opacity: 70%;
	cursor: pointer;
}


/*Aside*/

aside{
	vertical-align: top;
	width: 20%;
	margin-left: 3%;
	margin-right: none;
	display: inline-block;
}

.Queue{
	margin-bottom: 3rem;
	display: flex;
}

.Queue h2{
	color: white;
	font-family: sans-serif;
	margin-top: -2px;
}

.aside-adjust{
	width: 8rem;
}

@media screen and (max-width: 768px){
	#banner-3{
		display: none;
	}

	.Queue h2{
		display: none;
	}
}

/*.dropdown{
	display: inline-block;
}*/

.dropdown-button{
	color: green;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 18px;
}

.dropdown-content{
        display: none;
        background-color: white;
        position: absolute;
        margin-left: 
}

.dropdown-content a{
        color: black;
        text-decoration: none;
        display: block;
        font-size: 16px;
        font-family: Arial;
        padding: 10px;
}

.dropdown:hover .dropdown-content{
        display: block;
}

.dropdown-content a:hover {
	background-color: lightgrey;
}

/*Playlist*/


.playlist div{
	margin-bottom: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	margin-right: 0;
}

.playlist div:hover{
	opacity: 70%;
	cursor: pointer;
}

.playlist div img{
	width: 3rem;
	height: 3rem;
	border-radius: 20%;
	margin-right: 20px;
}

.playlist div h3{
	font-size: 16px;
	margin-top: 5px;
}

.playlist div h3 span{
	color: lightgrey;
	font-size: 14px;
	font-weight: 400;
	font-family: sans-serif;
}

@media screen and (max-width: 1024px){
	.playlist div img{
		display: none;
	}
}

/*Player*/

footer{
	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	background-image: linear-gradient(#1a1a1a, #404040);
	left: 0;
	bottom: 0;
	width: 100%;
	flex-shrink: 0;
	height: 130px;
}

.music_player_image{
	height: 130px;
	width: 130px;
}

.music_player_image img{
	height: 100%;
	width: 100%;
}

.music_player_song{
	margin-left: 1rem;
	margin-top: 0.5rem;
}

.music_player_song h2{
	color: white;
	font-family: sans-serif;
}

.music_player_song h2 span{
	font-weight: 400;
	font-size: 18px;
	color: lightgrey;
}

.player_adjust_0{
	width: 3rem;
	min-width: 10px;
}

.fav_icon{
	margin-top: 2.5rem;
}

.icon_common i{
	color: white;
	font-size: 20px;
}

.icon i:hover{
	cursor: pointer;
	opacity: 70%;
}

.fav_icon i:hover{
	color: red;
}

.player_adjust_1{
	width: 9rem;
	min-width: 10px;
}

.icon_flex_1{
	display: flex;
	flex-direction: column;
}

.repeat i{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.player_adjust_2{
	width: 12rem;
	min-width: 10px;
}

.prev i{
	margin-top: 3rem;
	font-size: 2rem;
}

.play i{
	color: red;
	font-size: 4rem;
	margin-left: 2rem;
	margin-top: 2rem;
}

.next i{
	margin-left: 2rem;
	margin-top: 3rem;
	font-size: 2rem;
}

.icon_flex_2{
	display: flex;
	flex-direction: column;
}

.player_adjust_3{
	width: 6rem;
	min-width: 10px;
}

.autoplay{
	display: flex;
	flex-direction: row;
}

.autoplay h4{
	font-family: sans-serif;
	color: white;
	margin-top: 3rem;
}

.toggle{
	margin-top: 3rem;
	margin-left: 1rem;
}

@media screen and (max-width: 1024px){
	.music_player_song{
		width: 0px;
		display: none;
	}
}